<div class="container-fluid">
  <div id="events" class="row events-heading">
    <span class="left-float">LOGIN&emsp;</span><span class="green-rect"></span>
  </div>
  <form class="css-form row" name="form" ng-submit="login(form)" novalidate>
    <div class="container-fluid add-form ">
      <div class="charcoal">
        <p>
          &nbsp;
        </p>

        <p>
          <label>Email:&emsp;</label>
          <input type="email" name="email" class="form-control" ng-model="user.email" required>
        </p>

        <p>
          <label>Password:&emsp;</label>
          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </p>
        <button class="btn btn-inverse btn-lg btn-login" type="submit">
          Login
        </button>
        <a class="btn btn-default btn-lg btn-register" href="/signup">
          Register
        </a>
      </div>
    </div>
  </form>


</div>
</div>
</div>
