p label {
  font-family: Dinot-Medium, Arial, serif;
  display: inline-block;
  width: 10%;
  color: #7cbb42;
  margin-left: 5%;
}
p input {
  width: 80%;
}
.charcoal
{
  margin:0;
}

.charcoal > p {
  margin-top: 10px;
}

.add-form {
  margin-left: 55px;
  margin-right: 55px;
}
