.footer-custom {
  text-align: center;
  margin-top: 30px;
  background-color: #f96f0e;
  height: 54px;
  color: white;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-custom ul li {
  display: inline;
  color: white;
  font-size: 30px;
  padding-right: 5%;
  padding-left: 5%;
  line-height: 54px;
}

.footer-custom ul li a {
  color: white;
}

