<br />
<div class="container">
  <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">&nbsp;</div>
  <div class="col-md-6 col-sm-8 col-lg-6 col-xs-8">
    <div class="row panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">{{event.name}}</h3></div>
      <div class="container-fluid">
        <table class="table panel-body">
          <tr>
            <td class="blue">WHERE ARE WE EATING?</td>
            <td>{{event.location}}</td>
          </tr>
          <tr>
            <td class="blue">WHEN ARE WE EATING?</td>
            <td>{{event.date | date}} at {{event.time}}</td>
          </tr>
          <tr ng-show="event.meetingLocation.length > 0">
            <td ng-show="event.meetingLocation.length > 0" class="blue">WHERE ARE WE MEETING?</td>
            <td ng-show="event.meetingLocation.length > 0">{{event.meetingLocation}}</td>
          </tr>
          <tr ng-show="event.meetingTime.length > 0">
            <td ng-show="event.meetingTime.length > 0" class="blue">WHEN ARE WE MEETING?</td>
            <td ng-show="event.meetingTime.length > 0">{{event.meetingTime}}</td>
          </tr>
          <tr>
            <td class="blue">WHO STARTED THIS LUNCH?</td>
            <td>{{event.createdBy}}</td>
          </tr>
          <tr>
            <td class="blue">WHO IS GOING?</td>
            <td><span ng-repeat="person in event.attendees"><span ng-show="$last">{{person}}</span><span ng-show="$first || $middle">{{person}}, </span> </span></td>
          </tr>
        </table>
      </div>
    </div>
    <a href="/home" ng-show="isLoggedIn() && userIsNotAttending"
       ng-click="signUpUser()" class="center-block btn btn-default">SIGN ME UP</a>
  </div>
</div>
