.navbar {
  background-color: #f96f0e;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 9;
}

.nav.navbar-nav li a {
  color: #FFFFFF;
}

.navbar-default .navbar-text {
  color: #FFFFFF;
  font-size: 30px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: inherit;
}

.pad-img {
  padding-right: 10px;
}

.logo {
  position: fixed;
  left: 0;
  right: 0;
  top: -24px;
  z-index: 10;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #3a3a38;
  color: #ffffff;
}

.image-div {
  height: 140px;
  width: 196px;
}
