<div class="image-div">
  <a href="/home"><img class="logo" src="../../assets/images/logoOval.png"/></a>
</div>

<div class="navbar navbar-default navbar-fixed-top white" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false"><img src="../../assets/images/menuButton.png"/></a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="scrollTo('events')">Events</a></li>
            <li><a href="" ng-click="scrollTo('locations')">Locations</a></li>
            <li><a href="" ng-click="scrollTo('freebies')">Freebies/Deals</a></li>
          </ul>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/add')}"><a href="/add"><img
          src="../../assets/images/addButton.png"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><p class="navbar-text"><img class="pad-img"
                                                                                                       src="../../assets/images/personIcon.png" height="54px" /><a
          href="/login">Login</a></p></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text"><img ng-click="logout()" class="pad-img"
                                                               src="../../assets/images/personIcon.png" height="54px"/><a href="/profile">{{
          getCurrentUser().name }}</a></p></li>
      </ul>
    </div>
  </div>
</div>

<div class="field">
  &nbsp;
</div>
