.panel-default {
  border-color: #3A3A38;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #3A3A38;
  border-color: #3A3A38;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #3A3A38;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #3A3A38;
}

.panel {
  color: #3A3A38;
}

.panel-default > .panel-heading {
  color: #FFFFFF;
}

.map {
  margin-left: 15px;
  padding-left: 12px;

}
