.events-heading {
  font-family: Dinot-Black, Arial, serif;
  font-size: 30px;
  line-height: 30px;
  margin-left: 55px;
  margin-top: 50px;
  margin-right: 55px;
  margin-bottom: 10px;
}

.left-float {
  float: left;
  background-color: #fbecd3;
}

.green-rect {
  background-color: #7cbb42;
  height: 30px;
  width: 100%;
  display: block;
}

.events-list {
  font-family: Dinot-Medium, Arial, serif;
  margin-left: 55px;
  margin-top: 10px;
  margin-right: 55px;
  margin-bottom: 10px;
  padding: 0;
}

.white-line {
  border-right: 3px solid #FFFFFF;
  text-align: center;
  margin-top: 0px;
}

.charcoal-div {
  background-color: #3a3a38;
  color: white;
  margin-left: 0;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.event-center {
  margin-top: 15px;
}

.event-right {
  margin-top: 20px;
  text-align: right;
  margin-right: 20px;
}

.green-date {
  font-family: Dinot-Black, Arial, serif;
  color: #7cbb42;
  font-size: 70px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
}

.map {
  background-color: #3a3a38;
  margin-left: 15px;
  padding-left: 12px;
}

.locationTitle {
  font-family: Dinot-Bold, Arial, serif;
  font-size: 36px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.locationDetails{
  font-family: Dinot-Medium, Arial, serif;
  font-size: 24px;
  color: white;
  text-align: center;
}

.locationBar{
  height: 4px;
  background-color:#f96f0e;
  text-align: center;
  margin-bottom: 6px;
}
