<div class="container-fluid">

  <div class="row events-heading">
    <span class="left-float">EVENTS&emsp;</span><span class="green-rect"></span>
  </div>

  <div class="row events-list">

    <div class="charcoal-div" ng-repeat="event in events | orderBy: ['date','time']">
      <div class="row">
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 white-line">
          <p class="green-date">{{today | date: "M/d"}}</p>

          <p>{{event.name}}</p>
        </div>
        <div class="col-xs-0 col-sm-8 col-md-8 col-lg-8 event-center">
          <p class="h4">{{event.description}}</p>

          <p>
            Time: {{event.time}} <br>
            Event Location: {{event.location}} <br>
            Meeting Location: {{event.meetingLocation}} at {{event.meetingTime}}
          </p>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
          <p class="event-right">
            <img src="../../assets/images/plateIcon.png"/> <br/>
            <a class="btn btn-default" style="margin-top: 10px; color: #7cbb42;">SIGN ME UP!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="locations" class="container-fluid">
  <div class="row locations-heading">
    <span class="left-float">LOCATIONS&emsp;</span><span class="green-rect"></span>
  </div>

  <div class="charcoal-bg">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="map-margin">
          <map center="41.500491, -81.688635" zoom="14">
            <marker ng-repeat="event in events"
                    position="{{event.lat}},{{event.long}}"
                    title="<div class=&quot;locationTitle&quot;>{{event.location}}</div>
                          <div class=&quot;locationBar&quot;></div>
                          <div class=&quot;locationDetails&quot;>
                            <img  src=&quot;../../assets/images/phoneIcon.png&quot;/>
                            <div>{{event.phone}}</div>
                            <img  src=&quot;../../assets/images/webIcon.png&quot;/>
                            <div>{{event.website}}</div>
                            <img  src=&quot;../../assets/images/greenMoneyIcons.png&quot;/>
                            <div>{{event.rating}}/5</div>
                          </div>"
                    on-click="populateDetails()">
            </marker>
          </map>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span class="white" ng-bind-html="details"></span>
      </div>
    </div>

  </div>
</div>

<div id="freebies" class="container-fluid">

  <div class="row events-heading">
    <span class="left-float">FREEBIES & DEALS&emsp;</span><span class="green-rect"></span>
  </div>

  <div class="row events-list">

    <div class="charcoal-div" ng-repeat="deal in deals | orderBy: ['date','time']">
      <div class="row">
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 white-line">
          <p class="green-date">{{today | date: "M/d"}}</p>
          <p>{{deal.name}}</p>
        </div>
        <div class="col-xs-0 col-sm-8 col-md-8 col-lg-8 event-center">
          <p class="h4">{{deal.description}}</p>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
          <p class="event-right">
            <img src="../../assets/images/plateIcon.png"/> <br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
