.section-heading {
  font-family: Dinot-Black, Arial, serif;
  font-size: 30px;
  line-height: 30px;
  margin-left: 55px;
  margin-top: 50px;
  margin-right: 55px;
  margin-bottom: 10px;
}

.section-details {
  margin-left: 55px;
}

.charcoal-div1 {
  background-color: #3a3a38;
  color: white;
  margin-left: 65px;
  margin-top: 10px;
  margin-right: 65px;
  margin-bottom: 10px;
}
