<div class="container-fluid">
  <div class="container-fluid">
    <div class="row section-heading">
      <span class="left-float">{{getCurrentUser().name | uppercase}}&emsp;</span><span class="green-rect"></span>
    </div>
    <div class="section-details">
      <span>Email: {{getCurrentUser().email}}</span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row section-heading">
      <span class="left-float">MY EVENTS&emsp;</span><span class="green-rect"></span>
    </div>
  </div>
  <div class="charcoal-div1" ng-repeat="event in events | orderBy: ['date','time']">
    <div class="row" ng-show="event.createdByEmail == getCurrentUser().email">
      <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 white-line">
        <p class="green-date">{{today | date: "M/d"}}</p>

        <p>{{event.name}}</p>
      </div>
      <div class="col-xs-0 col-sm-8 col-md-8 col-lg-8 event-center">
        <p class="h4">{{event.description}}</p>

        <p>
          Time: {{event.time}} <br>
          Event Location: {{event.location}} <br>
          Meeting Location: {{event.meetingLocation}} at {{event.meetingTime}} <br>
          Attendees: <span ng-repeat="person in event.attendees"><span ng-show="$last">{{person}}</span><span ng-show="($first || $middle) && !$last">{{person}}, </span> </span>
        </p>
      </div>
      <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
        <p class="event-right">
          <img src="../../assets/images/plateIcon.png"/> <br/>
          <a class="btn btn-default" ng-click="delete(event)" style="margin-top: 10px; color: #7cbb42;">DELETE</a>
        </p>
      </div>
    </div>
  </div>
</div>
