.section-heading {
  font-family: Dinot-Black, Arial, serif;
  font-size: 30px;
  line-height: 30px;
  margin-left: 55px;
  margin-top: 50px;
  margin-right: 55px;
  margin-bottom: 10px;
}

p label {
  font-family: Dinot-Medium, Arial, serif;
  display: inline-block;
  width: 10%;
  color: #7cbb42;
  margin-left: 5%;
}
p input {
  width: 80%;
}
.charcoal
{
  margin:0;
}

.charcoal > p {
  margin-top: 10px;
}

.add-form {
  margin-left: 55px;
  margin-right: 55px;
}

.sbtn {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.css-form input.ng-invalid.ng-touched {
  outline: #FA787E solid 2px;
}

.css-form input.ng-valid.ng-touched {
  outline: 0 solid #FFFFFF;
}

.success-text {
  text-align: center;
}

.charcoal {
  background-color: #3a3a38;
}

