.events-heading {
  font-family: Dinot-Black, Arial, serif;
  font-size: 30px;
  line-height: 30px;
  margin-left: 55px;
  margin-top: 50px;
  margin-right: 55px;
  margin-bottom: 10px;
}

.center-table {
  text-align: center
  background-color:#3a3a38;
  color: #7cbb42
}

td {
  padding-top: 5px;
}

input {
  margin-top: 5px;
}

.css-form input.ng-invalid.ng-touched {
  outline: #FA787E solid 2px;
}

.css-form input.ng-valid.ng-touched {
  outline: 0 solid #FFFFFF;
}

.success-text {
  text-align: center;
}

.text-box {
  width: 500px;
}
