<div class="container" ng-hide="form.$valid && form.$submitted">
  <form novalidate name="form" class="css-form">
    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">&nbsp;</div>
    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
      <table class="center-table">
        <tr>
          <td class="blue text-right">WHATS THE EVENT CALLED:&emsp;</td>
          <td><input type="text" ng-model="event.name" name="name" required/>
          </td>
        </tr>
        <tr>
          <td class="blue text-right">DESCRIBE THE EVENT:&emsp;</td>
          <td><input type="text" ng-model="event.description"/></td>
        </tr>
        <tr>
          <td class="blue text-right">WHAT TIME WILL YOU BE AT THE LOCATION:&emsp;</td>
          <td><input type="text" ng-model="event.time" name="time" required/>
          </td>
        </tr>
        <tr>
          <td class="blue text-right">WHAT IS THE LOCATION:&emsp;</td>
          <td><input type="text" ng-model="event.location" name="location" required/></td>
        </tr>
        <tr>
          <td class="blue text-right">WHERE ARE WE MEETING (OPTIONAL):&emsp;</td>
          <td><input type="text" ng-model="event.meetingLocation"/></td>
        </tr>
        <tr ng-show="event.meetingLocation.length > 0">
          <td class="blue text-right">WHAT TIME ARE YOU MEETING:&emsp;</td>
          <td><input type="text" ng-model="event.meetingTime"/></td>
        </tr>
      </table>
      <div ng-show="form.$invalid && form.$submitted">
        <p class="text-danger">Please fill in required fields.</p>
      </div>
      <input type="submit" ng-disabled="form.$invalid" ng-click="addEvent(form)" class="center-block padding btn btn-default"/>
    </div>
  </form>
</div>

<div class="container success-text" ng-show="form.$valid && form.$submitted">
  <p >Form submitted successfully.</p>
  <a href="/home" class="btn btn-default">Go Home</a>
</div>
