<div class="container=fluid" ng-hide="form.$valid && form.$submitted">
  <div class="row section-heading">
    <span class="left-float">CREATE EVENTS&emsp;</span><span class="green-rect"></span>
  </div>
  <form novalidate name="form" class="css-form">
    <div class="container-fluid add-form">
      <div class="charcoal">
        <p>
          &nbsp;
        </p>
        <p>
          <label>Event Name:&emsp;</label>
          <input type="text" ng-model="event.name" name="name" required/>
        </p>

        <p>
          <label>Event Location:&emsp;</label>
          <input places-auto-complete on-place-changed="placeChanged()" types="['establishment']"/>
        </p>

        <p>
          <label>Event Description:&emsp;</label>
          <input type="text" ng-model="event.description" name="time" required/>
        </p>

        <p>
          <label>Event Time:&emsp;</label>
          <input type="text" ng-model="event.time"/>
        </p>

        <p>
          <label>Meeting Location:&emsp;</label>
          <input type="text" ng-model="event.meetingLocation"/>
        </p>

        <p>
          <label>Meeting Time:&emsp;</label>
          <input type="text" ng-model="event.meetingTime"/>
        </p>

        <div ng-show="form.$invalid && form.$submitted">
          <p class="text-danger">Please fill in required fields.</p>
        </div>

        <input class="sbtn" type="submit" ng-disabled="form.$invalid" style="padding-bottom: 10px;"
               ng-click="addEvent(form)"/>


        <p>
          &nbsp;
        </p>
      </div>
    </div>
  </form>
</div>

<div class="container=fluid add-form" ng-hide="form2.$valid && form2.$submitted">
  <div class="row section-heading">
    <span class="left-float">CREATE FREEBIE/DEAL&emsp;</span><span class="green-rect"></span>
  </div>
  <form novalidate name="form2" class="css-form">
    <div class="container-fluid add-form">
      <div class="charcoal">
        <p>
          &nbsp;
        </p>
        <p>
          <label>Event Name:&emsp;</label>
          <input type="text" ng-model="deal.name" name="name" required/>
        </p>

        <p>
          <label>Event Description:&emsp;</label>
          <input type="text" ng-model="deal.description" name="time" required/>
        </p>

        <p>
          <label>Expires?:&emsp;</label>
          <input type="checkbox" ng-model="deal.expires" name="time" required/>
        </p>


        <input class="sbtn" type="submit" ng-disabled="form.$invalid" style="padding-bottom: 10px;"
               ng-click="addEvent(form)"/>

        <p>
          &nbsp;
        </p>
      </div>
    </div>
  </form>
</div>
